.component-pagination{
    position: absolute;
    top: 130%;
    right: 7%;
}
.component-pagination p{
    position: absolute;
    top: 80%;
}
.titulo-pagina{
    animation-name: pintarse;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}